<meta name="description" content="With SmartPlate, you can instantly track and analyze everything you eat. Support us on KickStarter" />
<link href="../assets/boilerplate" rel="stylesheet" type="text/css">
<link href="../assets/style.css" rel="stylesheet" type="text/css">
<link href="../assets/responsive.css" rel="stylesheet" type="text/css">
<link href="../assets/fonts-face.css" rel="stylesheet" type="text/css">
<script src="../assets/js/jquery-1.11.2.js"></script>
<script src="../assets/js/placeholders.min.js"></script>

  <!-- top header close --> 
  
  <!-- body header -->
  <div id="body-container">
    <div id="contactus-header">
    <div class="center-div">Contact Our Team</div>
    </div>
    	
        <div class="contact-container">
        	<p>If you have any questions about Smartplate and can't find answers in our FAQ or would simply like to say hello, please use one of the options below.</p>
           
           <div class="email-block">
            	<div class="mail-icon"><img src="../assets/icons/mail-icon.png" alt=""/></div>
                <div class="email">GENERAL INQUIRIES</div>
                <div class="arrow-right"><img src="../assets/icons/arrow.png" alt=""/></div>
          </div>
          
          <div class="email-block">
            	<div class="mail-icon"><img src="../assets/icons/mail-icon.png" alt=""/></div>
                <div class="email">MEDIA INQUIRIES</div>
                <div class="arrow-right"><img src="../assets/icons/arrow.png" alt=""/></div>
          </div>            
            
            <div class="mesage">SEND US A MESSAGE</div>
            <%= simple_form_for @contactus,
:url => url_for(:action => 'create', :controller => 'contactus'),
  :html => {:class => 'form-horizontal' } do |f| %>
            <div class="query-form">
            	<div class="fname-lname">
				
				<%= f.input :firstname, label: false,:wrapper => false,:placeholder => "First Name", :required => true %>
				</div>
                <div class="fname-lname">
				<%= f.input :lastname, label: false,:wrapper => false, :placeholder => "Last Name", :required => true %>
				
				</div>
                <div class="fname-lname">
				<%= f.input :email, label: false,:wrapper => false, :placeholder => "Email", :required => true %>
				
				</div>
                <div class="fname-lname">
				<%= f.input :phone,label: false,:wrapper => false, :placeholder => "Phone", :required => true %>
				
				</div>
                <div class="message-box">
				<%= f.input :message,label: false,:wrapper => false, :placeholder => "Message", :as => :text, :required => true %>
				
				</div>
                <div class="send-btn">
				<%= f.button :submit, 'Send',label: false,:wrapper => false, :class=> "btn btn-primary" %>
				</div>
            </div>
            <% end %>
            
            
        </div>
    
    <!-- brought for all -->
    <div id="brought-section">
      <div class="inner-div">
        <div class="heading">Brought to you by</div>
        <div class="fitly-logo"><img src="../assets/fitly-log.png"alt=""/></div>
        <div class="text-content">Fitly is a two-time Digital Health Award winner, University City Science Center-backed and DreamIt Health alumni, with a proven track record for vetted technological innovation.</div>
      </div>
    </div>
    <!-- brought for all close--> 
    

    <!-- body header close --> 

   
    <!--2 column divide --> 



   
 <!--2 column divide close--> 
    
    <!-- footer section-->

  
<script type="text/javascript">
	$(document).ready(function () {
            $(".fname-lname").keypress(function () {
             $(".fname-lname > input").css("color", "#2b2b2b");
            });
        });
</script>
</body>
</html>
